* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
 
body {
	background:#f2f2f2;
	color:#333;
	font-family:Arial, helvetica, sans-serif;
}
 
a {
	text-decoration: none;
	color:#27a4f2;
}
 
.wrapp {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
}
 
header {
	width: 100%;
	height: 83px;
	padding:20px 0;
	background: #fff;
	overflow: hidden;
}
 
.logo {
	width: 150px;
	float: left;
}

.logo1 {
	width: 90px;
	float: rigth;
}
 
.logo img {
	width:100%;
	vertical-align: top;
}
 
.logo1 img {
	width:100%;
	vertical-align: top;
} 
 
nav {
	float: right;
}
 
nav ul li {
	display: inline-block;
	margin:0px 5px;
	text-transform: uppercase;
}
 
nav ul li a {
	display: block;
	background: #f2f2f2;
	color: #037E8C;
	padding:10px 20px;
	text-decoration: none;
	border-radius:3px;
	transition:all 300ms ease;

}
 
nav ul li a:hover {
	color: #fff;
	background: #F24C27;
}
 
.mensaje {
	background:#27a4f2;
	padding:20px;
	color:#fff;
	margin:20px 0;
	border-radius:5px;
}
 
.articulo {

	float: left;
	width: 80%;
	padding:0px 20px 20px 0px;
}
 
aside {
	float: left;
	width: 20%;
	background:#024959;
	color:#fff;
	padding:20px;
	border-radius:5px;
}

ul, ol{
	list-style:none;
}

 
.nav1 li {
	margin-left:20px;
	text-transform: uppercase;
}
.nav1 li {
	margin:10px 0;
	width: 100%;
}
 
.nav1 li a {
	color:#fff;
	list-style:none;
}
 
.nav1 li a:hover {

	text-decoration: underline;

}

.nav1 li ul {
		display:none;
		position:inside;
		min-width:140px;
		list-style-type:disc;
		background:#36F;
				}
.nav1 li:hover > ul {
	display:block
}			
 
footer {
	width: 100%;
	background:#333;
	padding:20px 0;
	color:#fff;
}
 
footer p {
	text-align:center;
}

.form_register{
	width:450px;
	margin:auto;
}
.form_register h1{
	color: #3c93b0;
}
hr{
	border:0;
	background:#CCC;
	height:1px;
	margin:10px 0;
	display:block;
}
form{
	background:#FFF;
	margin:auto;
	padding:20px 50px;
	border:1px solid #d1d1d1;
}
label{
	display:block;
	font-size:14px;
	margin:15px auto 5px auto;
}
input,select{
	display:block;
	width:100%;
	font-size:14px;
	padding:5px;
	border:1px solid:#85929e;
	border-radius:5px;
}
.btn_save{
	font-size:14px;
	background:#12a4c6;
	padding:10px;
	color:#FFF;
	letter-spacing:1px;
	border:0;
	cursor:pointer;
	margin:15px auto;
}
.alert{
	width:100%;
	background:#6F6;
	border-radius:6px;
	margin:20px auto;
}
.msg_error{
	color: #e65656;
}
.msg_save{
	color: #126e00;
}
.alert p{
	padding:10px;
}
/*==========Lista de usuario=======*/
.articulo h1{
	font-size:22px;
	display:inline-block;
}
.btn_new{
	display:inline-block;
	background:#239baa;
	color:#FFF;
	padding:5px 25px;
	border-radius:4px;
	margin:20px;
}
table{
	border-collapse:collapse;
	font-size:12pt;
	width:100%;
}
table th{
	text-align:left;
	padding:10px;
	background:#3d7ba8;
	color:#FFF;
}
table tr:nth-child(odd){
	background:#FFF;
}
table td{
	padding:10px;
}
.link_edit{
	color:#0ca4ce;
}
.link_delete{
	color:#f26b6b;
}
.articulo h1{
	text-align:center;
}

.data_delete{
	text-align:center;
}
.data_delete h2c
.data_delete span{
	font-weight:bold;
	color:#4f72d4;
	font-size:12pt;
}
.btn_cancel, .btn_ok{
	width:124px;
	background:#478ba2;
	color:#FFF;
	display:inline-block;
	padding:5px;
	border-radius:5px;
	cursor:pointer;
	margin:15px;
}
.btn_cancel{
	background:#42b343;
}
.data_delete form{
	background:initial;
	margin:auto;
	padding:20px 50px;
	border:0;
}
/*=======paginador*/
.paginador ul{
	padding:15px;
	list-style:none;
	background:#FFF;
	margin-top:15px;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	justify-content: flex-end;
}
.paginador a, .pageSelect{
	color:#428bca;
	border:1px solid #ddd;
	padding:5px;
	display:inline-block;
	font-size:14px;
	text-align:center;
	width:35px;
}
.paginador a:hover{
	background:#ddd;
}
.pageSelect{
	color:#FFF;
	background:#428bca;
	border:1px solid #228bca;
}
/*========Buscador====*/
.form_search{
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	float:right;
	background:initial;
	padding:10px;
	border-radius:10px;
}
.form_search .btn_search{
	background:#1faac8;
	color:#FFF;
	padding:0 20px;
	border:0;
	cursor:pointer;
	margin-left:10px;
}